# 1. Different Types of Data

1.1 Import the data

In [30]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
df = pd.read_csv('WDIData.csv')

1.2 Check the number of rows and columns. 
Check how many unique indicator names and country codes are available in the data.

In [31]:
df.shape
df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', 'Unnamed: 64'],
      dtype='object')

In [32]:
len(np.unique(df['Indicator Name']))
len(np.unique(df['Country Name']))

264

1.3 Create a new dataframe where indicator name is 'Central government debt, total (% of GDP)'

Create a new dataframe where indicator name is 'Military expenditure (% of GDP)'

In [33]:
central_govt_dbt = df[df['Indicator Name']=='Central government debt, total (% of GDP)']

In [34]:
military_exp = df[df['Indicator Name']=='Military expenditure (% of GDP)']

1.4 Assign the country code as the index for the two dataframes you created earlier.

Keep the countries where both columns have non-missing values.

Create a histogram for the military expenditure column.

In [35]:
central_govt_dbt.set_index('Country Code', inplace=True)
military_exp.set_index('Country Code', inplace=True)

central_govt_dbt[~pd.isnull(central_govt_dbt['2010'])]
military_exp[~pd.isnull(military_exp['2010'])]

,Country Name,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
Country Code,,,,,,,,,,,,,,,,,,,,,
ARB,Arab World,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,4.632190,5.257323,3.840464,4.759893,6.075443,5.868212,...,4.912521,5.005675,5.758314,6.343954,7.366499,6.087978,6.383448,5.649372,NaN,NaN
CEB,Central Europe and the Baltics,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.416592,1.404570,1.378667,1.415106,1.531304,1.481846,1.523830,1.643397,NaN,NaN
EAR,Early-demographic dividend,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,2.352424,2.236004,2.654093,2.903293,2.821509,3.081086,2.963730,...,2.222632,2.302009,2.411653,2.544505,2.671808,2.434049,2.431776,2.348044,NaN,NaN
EAS,East Asia & Pacific,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.553268,1.561633,1.625837,1.676288,1.715301,1.704541,1.685236,1.667240,NaN,NaN
EAP,East Asia & Pacific (excluding high income),Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.686697,1.703954,1.761221,1.789843,1.812936,1.821111,1.780305,1.748863,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VEN,"Venezuela, RB",Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,3.058044,1.422222,2.312902,2.553588,2.446689,2.636436,2.656883,...,1.130405,1.341472,1.669552,1.161817,0.941376,0.454046,0.487844,NaN,NaN,NaN
VNM,Vietnam,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.982100,2.156886,2.176850,2.285508,2.361156,2.442961,2.267970,2.299457,NaN,NaN
YEM,"Yemen, Rep.",Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.926462,4.573884,4.079527,3.966891,NaN,NaN,NaN,NaN,NaN,NaN
ZMB,Zambia,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.317607,1.357852,1.359739,1.633868,1.753234,1.424504,1.305200,1.400950,NaN,NaN
ZWE,Zimbabwe,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,1.189568,1.322462,...,1.643838,2.263931,2.343084,2.324734,2.343629,2.220728,1.930134,2.169606,NaN,NaN

In [36]:
central_govt_dbt_2010 = central_govt_dbt['2010']
central_govt_dbt_2010 = central_govt_dbt_2010[~pd.isnull(central_govt_dbt_2010)]
central_govt_dbt_2010.dropna()

Country Code
ECA     21.479749
TEC     21.479749
LMC     44.600505
NAC     85.464274
SAS     52.040420
TSA     52.040420
AUS      0.029257
AZE      6.385576
BHS     33.686567
BRB     95.726158
BLR     18.440358
BLZ     81.328309
BTN     54.882961
BWA     21.630689
BRA     61.318780
COL     72.569022
COG     27.875849
SLV     57.494037
GEO     34.981395
GTM     24.419787
HUN     80.845546
ISL    102.420154
IND     51.591910
IDN     26.166159
IRL     82.602457
JAM    136.224335
JPN    162.296407
JOR     60.524812
KAZ      9.522963
MWI     28.030110
MYS     49.559823
MDV     54.885418
MHL     64.928295
MUS     36.787376
FSM     24.154880
MDA     21.932561
MAR     50.962499
NAM     16.944972
NPL     33.862521
NZL     34.898772
PLW     33.187755
PER     23.681791
PHL     52.403859
RUS      9.098106
SMR     48.300908
SYC     75.353416
SGP    101.449782
ESP     54.024538
LKA     71.585318
KNA    107.436929
LCA     48.583197
VCT     59.894740
CHE     21.561045
THA     26.900831
TUN     40.662601
TUR     47.432446
UKR     29.969556
GBR     81.696357
USA     85.464274
URY     44.222702
Name: 2010, dtype: float64

In [37]:
military_exp_2010 = military_exp['2010']
military_exp_2010 = military_exp_2010[~pd.isnull(military_exp_2010)]

military_exp_2010, central_govt_dbt_2010

(Country Code
 ARB    5.040612
 CEB    1.482930
 EAR    2.315059
 EAS    1.563181
 EAP    1.735730
          ...
 VEN    1.013489
 VNM    2.305049
 YEM    4.685557
 ZMB    1.382593
 ZWE    0.976401
 Name: 2010, Length: 193, dtype: float64,
 Country Code
 ECA     21.479749
 TEC     21.479749
 LMC     44.600505
 NAC     85.464274
 SAS     52.040420
 TSA     52.040420
 AUS      0.029257
 AZE      6.385576
 BHS     33.686567
 BRB     95.726158
 BLR     18.440358
 BLZ     81.328309
 BTN     54.882961
 BWA     21.630689
 BRA     61.318780
 COL     72.569022
 COG     27.875849
 SLV     57.494037
 GEO     34.981395
 GTM     24.419787
 HUN     80.845546
 ISL    102.420154
 IND     51.591910
 IDN     26.166159
 IRL     82.602457
 JAM    136.224335
 JPN    162.296407
 JOR     60.524812
 KAZ      9.522963
 MWI     28.030110
 MYS     49.559823
 MDV     54.885418
 MHL     64.928295
 MUS     36.787376
 FSM     24.154880
 MDA     21.932561
 MAR     50.962499
 NAM     16.944972
 NPL     33.862521
 NZL     34.898772
 PLW     33.187755
 PER     23.681791
 PHL     52.403859
 RUS      9.098106
 SMR     48.300908
 SYC     75.353416
 SGP    101.449782
 ESP     54.024538
 LKA     71.585318
 KNA    107.436929
 LCA     48.583197
 VCT     59.894740
 CHE     21.561045
 THA     26.900831
 TUN     40.662601
 TUR     47.432446
 UKR     29.969556
 GBR     81.696357
 USA     85.464274
 URY     44.222702
 Name: 2010, dtype: float64)

In [38]:
df_2010 = pd.concat([military_exp_2010, central_govt_dbt_2010], axis=1)
df_2010.columns = ['military_exp', 'central_govt_dbt']

df_2010 = df_2010.loc[~df_2010.isnull().any(axis=1)]
df_2010.dropna()

     military_exp  central_govt_dbt
ECA      2.819325         21.479749
TEC      2.668534         21.479749
LMC      1.950080         44.600505
NAC      4.320812         85.464274
SAS      2.676482         52.040420
TSA      2.676482         52.040420
AUS      1.862400          0.029257
AZE      2.791004          6.385576
BLR      1.341383         18.440358
BLZ      1.097792         81.328309
BWA      2.726857         21.630689
BRA      1.539407         61.318780
COL      3.631149         72.569022
COG      1.778276         27.875849
SLV      1.089554         57.494037
GEO      3.902446         34.981395
GTM      0.410756         24.419787
HUN      1.031769         80.845546
IND      2.707464         51.591910
IDN      0.617587         26.166159
IRL      0.573631         82.602457
JAM      0.874213        136.224335
JPN      0.958851        162.296407
JOR      5.895421         60.524812
KAZ      1.014416          9.522963
MWI      0.718201         28.030110
MYS      1.511381         49.559823
MUS      0.153056         36.787376
MDA      0.315502         21.932561
MAR      3.390796         50.962499
NAM      3.514744         16.944972
NPL      1.563666         33.862521
NZL      1.379427         34.898772
PER      1.472169         23.681791
PHL      1.221594         52.403859
RUS      3.583859          9.098106
SYC      0.737915         75.353416
SGP      3.429849        101.449782
ESP      1.376820         54.024538
LKA      2.700748         71.585318
CHE      0.704958         21.561045
THA      1.556067         26.900831
TUN      1.296650         40.662601
TUR      2.324126         47.432446
UKR      2.742031         29.969556
GBR      2.367925         81.696357
USA      4.657001         85.464274
URY      1.875808         44.222702

### 1.1.2 Time Series Data

In [39]:
central_govt_dbt_USA = central_govt_dbt[central_govt_dbt['Country Code'] == 'USA']

KeyError: 'Country Code'

In [ ]:
central_govt_debt_USA

In [ ]:
military_expend_USA = military_expenditure[military_expenditure['Country Code'] == 'USA']
military_expend_USA

In [ ]:
df_us = pd.concat((central_govt_debt_USA, military_expend_USA), axis=1)

In [ ]:
df_us.loc['1960':'2010', :]

In [ ]:
index_zero = df

In [ ]:
list(df_us.index)

In [ ]:
indexf = list(df_us.index).index('1960')
indexf = list(df_us.index).index('2010')

In [ ]:
df_us2 = df_us.iloc[indexf:indexl+1, :]
df_us2.columns = ['Military Exp', 'Federal Debt']
df_us2 = df_us2[~df_us2.isnull().any(axis=1)];

In [ ]:
fig, axes = plt.subplots (2, sharex=True)
axes[0].set_title('Military Expenditure')
df_us2 ['Military Exp'].plot(marker='*', color='b', ax=axes [0])
df_us2 ['Federal Debt'].plot(marker='*', color='r', ax=axes [1])

In [ ]:
axes[0].plot(df_us2 ['Military Exp'])
axes[1].set_title('Federal Debt')
axes[1].plot(df_us2 ['Federal Debt'])
axes[1].set_xticklabels (ticks =list(df_us2.index), rotation=45

1.5 
a. filter the two datasets above for country ode 'USA'

b. concatenate  the two series (data for the US) after taking a transpose of them.

c. keep the data corresponding to years between 1960 and 2010 (including).

d. drop the rows with missing values

e. Create plots for the military and government expenditure as a function of time

### 1.1.3 Panel Data

- Cross sectional
 - Multiple individuals at one point in time
- Time Series
 - Individual entity over multiple points in time
- Panel Data (longitudinal data)
 - Multiple entities over multiple points in time

1.6 create the military expenditure for the following countries between 
1960 and 2010.

The country codes: 

China: 'CHN'

USA:'USA'

India:'IND'

UK:'GBR'

In [6]:
I = 'Indicator Name'
M = 'Military Expenditure (% of GDP)'
C = 'Country Code'

In [ ]:
df[(df[I]==M) & (df[C]=='CHN')].T.loc ['1960': '2010']
chn.fillna(0, inplace=True)
chn.columns['China'];

In [ ]:
ind = df[(df[I]==M) & (df [C]=='IND')].T.loc ['1960': '2010']
usa = df[(df [I]==M) & (df [C]=='USA')].T.loc['1960':'2010']
ind.fillna(0, inplace=True)
usa.fillna(0, inplace=True)
ind.columns['India']
usa.columns['USA']

In [ ]:
plt.figure()
chn.plot(marker='*', color='r')
ind.plot(marker='*', color='o')
usa.plot(marker='*', color='b')
plt.legend(['CHN', 'IND', 'USA'])
plt.show()

In [ ]:
time series
lagged time
pd.to_datetime()
given lagged version of dataset, run a linear regression model to predict the current period dataset