# Module1-Exc2 - Getting and Knowing your Data

- Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries and read the dataset

In [31]:
import pandas
df = pandas.read_csv('occ.csv')

### Step 2. See the first 25 entries

In [32]:
df.head(25)

    age gender     occupation zip_code
0    24      M     technician    85711
1    53      F          other    94043
2    23      M         writer    32067
3    24      M     technician    43537
4    33      F          other    15213
5    42      M      executive    98101
6    57      M  administrator    91344
7    36      M  administrator    05201
8    29      M        student    01002
9    53      M         lawyer    90703
10   39      F          other    30329
11   28      F          other    06405
12   47      M       educator    29206
13   45      M      scientist    55106
14   49      F       educator    97301
15   21      M  entertainment    10309
16   30      M     programmer    06355
17   35      F          other    37212
18   40      M      librarian    02138
19   42      F      homemaker    95660
20   26      M         writer    30068
21   25      M         writer    40206
22   30      F         artist    48197
23   21      F         artist    94533
24   39      M       engineer    55107

### Step 3. See the last 10 entries

In [33]:
df.tail(10)

     age gender     occupation zip_code
933   61      M       engineer    22902
934   42      M         doctor    66221
935   24      M          other    32789
936   48      M       educator    98072
937   38      F     technician    55038
938   26      F        student    33319
939   32      M  administrator    02215
940   20      M        student    97229
941   48      F      librarian    78209
942   22      M        student    77841

### Step 4. What is the number of observations in the dataset?

In [34]:
df.shape[0]

943

### Step 5. What is the number of columns in the dataset?

In [35]:
df.shape[1]

4

### Step 6. Print the name of all the columns.

In [36]:
df.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

### Step 7. How is the dataset indexed?

In [37]:
df.index

RangeIndex(start=0, stop=943, step=1)

### Step 8. What is the data type of each column?

In [38]:
df.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Step 9. Print only the occupation column

In [39]:
df['occupation']

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

### Step 10. How many different occupations are in this dataset?

In [40]:
len(df['occupation'].unique())

21

### Step 11. What is the most frequent occupation?

In [47]:
print(df['occupation'].value_counts().idxmax())

student

### Step 12. Summarize the DataFrame.

In [45]:
df.info

<bound method DataFrame.info of      age gender     occupation zip_code
0     24      M     technician    85711
1     53      F          other    94043
2     23      M         writer    32067
3     24      M     technician    43537
4     33      F          other    15213
..   ...    ...            ...      ...
938   26      F        student    33319
939   32      M  administrator    02215
940   20      M        student    97229
941   48      F      librarian    78209
942   22      M        student    77841

[943 rows x 4 columns]>

### Step 13. Summarize all the columns

In [48]:
df.describe(include='all')

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

### Step 14. Summarize only the occupation column

In [52]:
df['occupation'].describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### Step 15. What is the mean age of users?

In [53]:
round(df['age'].mean())

34

### Step 16. What is the age with least occurrence?

In [54]:
df['age'].value_counts().idxmin()

7